<div class="row row-fluid home-successful-event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-shortcode-events grid">
                    <div class="noo-grid-header-events">
                        <span class="icon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <h2 class="sh-event-title">
                            Eventos Pasados
                        </h2>
                        <p class="sh-ds">
                            Si no estuviste, encuentralo aqui!
                        </p>
                    </div>
                    <div class="noo-sh-event-content row">
                        {% for event in passed_events %}
                            <div class="col-md-4 col-sm-6">
                                <div class="noo-sh-grid-event">
                                    <div class="noo-thumbnail">
                                        <img width="970" height="647" src="{{ event.image_url }}" alt="blog21"/>
                                    </div>
                                    <div class="noo-shevent-content">
                                        <h4><a href="/events/{{ event.id }}">{{ event.venue_name }}</a></h4>
                                        <div class="sh-meta">
                                            <span class="sh-time-event">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="date-start dtstart">{{ event.date | date('d/m/Y H:i') }}</span>
                                            </span>
                                            <span class="sh-address">
                                                <i class="fa  fa-map-marker"></i>
                                                {{ event.location }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>