<div class="row parallax row-fluid home-upcoming-event">
    <div class="overlay_parallax"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-shortcode-events">
                    <h2 class="sh-event-title">
                        Próximos<span> Eventos</span>
                    </h2>
                    <div class="noo-sh-event-content">
                        {% for event in upcoming_events %}
                        <div class="noo-sh-list-event">
                            <span class="entry-date">
                                {{ event.date | date('d') }} <span class="month"> {{ event.date | date('F') }} </span>
                            </span>
                            <div class="noo-thumbnail thumb-1" style="background-image: url('{{ event.image_url }}')"></div>
                            <div class="noo-shevent-content">
                                <h4><a href="/events/{{ event.id }}">{{ event.venue_name }}</a></h4>
                                <div class="sh-meta">
                                    <span class="sh-date">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="date-start dtstart">
                                             {{ event.date | date('d/m/Y H:i') }}
                                        </span>
                                    </span>
                                    <span class="sh-address">
                                        <i class="fa fa-map-marker"></i>
                                        {{ event.location }}
                                    </span>
                                </div>
                                <div class="sh-excerpt">
                                    <p>
                                        {{ event.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="noo-view-event">
                            <a href="/events">Ver todos los eventos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>