<div class="noo_team_item">
    <div class="team_thumbnail">
        <img width="770" height="770" src="{{ image }}" alt="{{ display_name }}"/>
        <div class="team-info">
            <h4 class="team_name">{{ display_name }}</h4>
            <span class="team_position">{{ titulo }}</span>
        </div>
    </div>
    <div class="team-detail">
        <div class="team-detail-position">
            <p class="ds">
                {{ display_name }} <br>{{ location }}
            </p>
            {#<div class="team_socials">
                <span class="team_social">
                    <span class="social-name">Follow on facebook</span>
                    <a href="#" class="fa fa-facebook"></a>
                </span>
                <span class="team_social">
                    <span class="social-name">Follow on twitter</span>
                    <a href="#" class="fa fa-twitter"></a>
                </span>
                <span class="team_social">
                    <span class="social-name">Follow on google</span>
                    <a href="#" class="fa fa-google-plus"></a>
                </span>
            </div>#}
        </div>
    </div>
</div>