{% block page_title %}Eventos{% endblock %}
{% extends 'layout/base.twig' %}
{% block title %}Karol Cowan | Contactenos{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/blueimp-gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/js/blueimp-gallery/css/blueimp-gallery.css">
    <link rel="stylesheet" href="/js/blueimp-gallery/css/blueimp-gallery-indicator.css">
    <link rel="stylesheet" href="/js/blueimp-gallery/css/blueimp-gallery-video.css">

    <script src="/js/blueimp-gallery/js/blueimp-gallery.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-helper.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-gallery-fullscreen.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-gallery-indicator.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-gallery-video.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-gallery-vimeo.js"></script>
    <script src="/js/blueimp-gallery/js/blueimp-gallery-youtube.js"></script>
    <script src="/js/blueimp-gallery/js/jquery.blueimp-gallery.js"></script>
{% endblock %}

{% block content %}
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div class="noo-page-heading">
        <div class="container">
            <div class="noo-page-breadcrumb">
                <div class="breadcrumb-wrap">
                    <span><a href="#" class="home">Home</a></span><i>&#047;</i> <span><span>Galeria</span></span>
                </div>
            </div>
        </div>
    </div>


    <div class="container-wrap">
        <div class="default-p container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-fluid">
                        <div class="nocontainer">
                            <div class="col-sm-12">
                                <h1 class="text-center text-uppercase">Galería</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row row-fluid">
                        <div class="nocontainer contact-content">

                            <h2 style="margin-left: 25px">Galería de Videos</h2>
                            <div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                            <script type="application/javascript">
                                $(window).load(function () {
                                    blueimp.Gallery([
                                        {
                                            title: 'Creo en Vivo',
                                            href: 'https://www.youtube.com/watch?v=oEQTThiYzEU',
                                            type: 'text/html',
                                            youtube: 'oEQTThiYzEU',

                                        },
                                        {
                                            title: 'Mi Receta',
                                            href: 'https://www.youtube.com/watch?v=XSsJEwJN0pg',
                                            type: 'text/html',
                                            youtube: 'XSsJEwJN0pg',

                                        },
                                        {
                                            title: 'Tu y Yo',
                                            href: 'https://www.youtube.com/watch?v=gAmZC3d-yB8',
                                            type: 'text/html',
                                            youtube: 'gAmZC3d-yB8',

                                        },
                                        {
                                            title: 'Atornillando las Penas',
                                            href: 'https://www.youtube.com/watch?v=RuNUOoz1LxI',
                                            type: 'text/html',
                                            youtube: 'RuNUOoz1LxI',

                                        },
                                        {
                                            title: 'Que Tiene Mi Rumba',
                                            href: 'https://www.youtube.com/watch?v=aFmI-ywkJrA',
                                            type: 'text/html',
                                            youtube: 'aFmI-ywkJrA',

                                        },

                                    ], {
                                        container: '#blueimp-video-carousel',
                                        carousel: true,
                                        fullScreen: false
                                    });
                                });
                            </script>

                            <style>
                                .links img {
                                    width: 200px;
                                    padding: 10px;
                                }
                            </style>

                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 style="margin-left: 25px">Galería de Imágenes</h2>
                                    <!-- The container for the list of example images -->
                                    <div id="links" class="links">
                                        {% for i in 1..16 %}
                                            <a href="{{ base_url }}/images/slider/home/{{ i }}.jpg" title="" class="col-xs-6 col-sm-2 text-center">
                                                <img src="{{ base_url }}/images/slider/home/{{ i }}.jpg"  alt="">
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                    <div id="blueimp-gallery" class="blueimp-gallery">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev">‹</a>
                                        <a class="next">›</a>
                                        <a class="close">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div>
                                    <script>
                                        document.getElementById('links').onclick = function (event) {
                                            event = event || window.event;
                                            var target = event.target || event.srcElement,
                                                    link = target.src ? target.parentNode : target,
                                                    options = {index: link, event: event},
                                                    links = this.getElementsByTagName('a');
                                            blueimp.Gallery(links, options);
                                        };
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}