{% block page_title %}Home{% endblock %}
{% extends 'layout/base.twig' %}
{% block title %}Karol Cowan | Integrantes {% endblock %}

{% block content %}
    <div class="noo-page-heading">
        <div class="container">
            <div class="noo-page-breadcrumb">
                <div class="breadcrumb-wrap">
                    <span><a href="#" class="home">Home</a></span><i>&#047;</i> <span><span>Integrantes</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="default-p container">
        <div class="row">
            <div class="noo-main col-md-12">
                <div class="row row-fluid">
                    <div class="nocontainer">
                        <div class="col-sm-12">
                            <div class="noo_team">
                                <h2 class="noo-team-title">Integrantes de la Banda</h2>
                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                            {
                                                'image': '/images/member/member-thumb-370x370-cesar.png',
                                                'display_name' : 'Cesar Guri',
                                                'titulo': 'Bajo',
                                                'location': '( Santa Fe, Argentina )'
                                        }) }}
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                        {
                                            'image': '/images/member/member-thumb-370x370-karol.png',
                                            'display_name' : 'Karol Cowan',
                                            'titulo': 'Voz Principal',
                                            'location': '( Camagūey, Cuba )'
                                        }) }}
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                        {
                                            'image': '/images/member/member-thumb-370x370-tomas.png',
                                            'display_name' : 'Tomas Sivadón',
                                            'titulo': 'Percusión',
                                            'location': '( Buenos Aires, Argentina )'
                                        }) }}
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                        {
                                            'image': '/images/member/member-thumb-370x370-ezequiel.png',
                                            'display_name' : 'Ezequiel Luzuriaga',
                                            'titulo': 'Guitarra',
                                            'location': '( Buenos Aires, Argentina )'
                                        }) }}
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                        {
                                            'image': '/images/member/member-thumb-370x370-jonny.png',
                                            'display_name' : 'Jonathan Alexis Castro Perez',
                                            'titulo': 'Teclados',
                                            'location': '( Cartagena, Colombia )'
                                        }) }}
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        {{ include('partials/members/_member.twig',
                                        {
                                            'image': '/images/member/member-thumb-370x370-sergio.png',
                                            'display_name' : 'Sergio Moran',
                                            'titulo': 'Batería',
                                            'location': '( Buenos Aires, Argentina )'
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}